html, body {
  margin: 0;
  padding: 0;
}
canvas {
  background-color: black;
  display: block;
}
@font-face { font-family: caveat-regular; 
  src: url('./font/Caveat-Regular.ttf'); } 
@font-face { font-family: press-regular; 
  src: url('./font/PressStart2P-Regular.ttf'); } 
@font-face { font-family: MaShanZheng-regular; 
  src: url('./font/MaShanZheng-Regular.ttf'); } 
h1{
  font-size:45px;
  font-family: press-regular;
  color:white;
  margin-top: 0px;
  padding-top: 20px;
}
h3{
  font-size: 40px;
  font-family: caveat-regular;
}
h4{
  font-size: 30px;
  font-family:MaShanZheng-regular;
  text-align:right;
  padding-right: 50px;
}
h5{
  font-size: 40px;
  line-height: 40px;
  font-family: caveat-regular;
}

body{
  margin:0;
  background-color: #fff;
  padding:0;
  font-family:caveat-regular;
}
a:link{
  color:black;
  text-decoration: none;
}

a:visited{
  color:black;
  text-decoration: none;
}

a:hover{
  color:#ffffff;
  background-color:black;
  text-decoration: line-through;
}

.navigation{
  width: 100%;
  height: 100px;
  background-clip: content-box;
  background-image: linear-gradient(black,white);
  position: sticky; 
  top:0;
}
.title{
  text-align: center;
} 

/* instructions */
.centerBox{
  background-color: #fff;
  width: 100%;
  margin: auto;
  line-height: 40px;
  text-align: center;
  align-items: center;
  /* border: 3px solid; */
}
.item1{
  color:black;
  background-clip: content-box;
  padding-top: 100px;
  height:350px;
  font-size: 30px;
  font-family: press-regular;
  /* border: 5px solid red; */
}
.item2{
  background-color:black;
  color: white;
  background-clip: content-box;
  padding-top: 150px;
  height:650px;
    /* border: 5px solid red; */
}
.item3{
  background-color:white;
  color: black;
  background-clip: content-box;
  height:20px;
  font-family: press-regular;
  font-size: 30px;
  text-align: center;
}
.item4{
  background-color:black;
  color: white;
  background-clip: content-box;
  padding-top: 50px;
  height:fit-content;
  font-size: 30px;
  text-align: left;
  line-height: 30px;
}
.item5{
  background-color:white;
  color: black;
  background-clip: content-box;
  margin-left: 200px;
  padding-right: 200px;
  height:fit-content;
  text-align: left;
}
* {
  box-sizing: border-box;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 15px;
}

/* Clear floats after the columns */
.item4::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
#canvasContainer{
  margin:0;
  padding:0;
  width:100%;
}

